<servlet>
    <servlet-name>IndexServlet</servlet-name>  //servlet name
    <servlet-class>servlet.IndexServlet</servlet-class>  //servlet class
</servlet>
<servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>   //servlet name
    <url-pattern>/</url-pattern>  //how it should appear
</servlet-mapping>